.containerBlog{
    padding-right: 10rem;
}
.text-center{
    color:#678877;
}
.imgenPlanta{

padding-top: 20%;
}
.texto{
    padding-left: 5%;
}
.titulo{
    padding-bottom: 5%;
    padding-top: 2%;
}
.blog{
    margin-bottom: 5%;
    height: auto;
    max-height: 215px;
}
.blog .img-fluid {
    display: block;
    width: auto;
    max-height: 100%;
}