.rights{
    color:white;
}

.contenido{
    background-color: #DBA8A9;
}

.linea-footer{
    border-bottom: 3px solid;
    padding-bottom: 3px;
    width: 80%;
    color: white;
    margin: 0 auto;
}

.titulo-footer{
    color:black;
    font-weight: bold;
}

.bajarFooter{
    position: absolute; 
    bottom: 0;
    width: 100%;
}