.backg{
    background-color: white ;
    opacity:0.65;
    max-width: 90%;
    max-height: 50%;
    margin-bottom: 22%;
}

.bgImage{

    margin-bottom: 5%;
    margin-top: 5%;
}

#backEstelar{
    background-color: #EFECE8;

}

#backTestimonios{
    background-color: azure;
  
}


.rosaCalida{
color:#D29293;
}
.verdeCalida{
color:#9FAB97;
}
.hexCalida{
    color:#252524;
}.hexCalida:hover{
    color:#678877;
    text-decoration:none;
}

#fasolid{
    color:#678877;
    font-size: 22px;
} #fasolid:hover{
    color:#9FAB97;
    font-size: 23px;
}

/* Inicia elementos de sección Opiniones de clientes*/
figure.opinionIndex {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
}
figure.opinionIndex *,
figure.opinionIndex *:before,
figure.opinionIndex *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
figure.opinionIndex img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
  opacity: 0.9;
}
figure.opinionIndex .title {
  position: absolute;
  top: 58%;
  left: 25px;
  padding: 5px 10px 10px;
}
figure.opinionIndex .title:before,
figure.opinionIndex .title:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.opinionIndex .title:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
figure.opinionIndex .title:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

figure.opinionIndex .title div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
figure.opinionIndex .title div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
figure.opinionIndex h2,
figure.opinionIndex h4 {
  margin: 0;
  text-transform: uppercase;
}
figure.opinionIndex h2 {
  font-weight: 400;
}
figure.opinionIndex h4 {
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #000000;
}
figure.opinionIndex figcaption {
  position: absolute;
  bottom: 42%;
  left: 25px;
  text-align: left;
  opacity: 0;
  padding: 5px 60px 5px 10px;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 1.5px;
}
figure.opinionIndex figcaption p {
  margin: 0;
}
figure.opinionIndex a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.opinionIndex:hover img,
figure.opinionIndex.hover img {
  zoom: 1;
  filter: alpha(opacity=35);
  -webkit-opacity: 0.35;
  opacity: 0.35;
}

figure.opinionIndex:hover figcaption,
figure.opinionIndex.hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* Termina elementos de sección Opiniones de clientes*/

/* Inicia elementos de sección favoritos*/
.favContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    grid-gap: 2rem;
    margin: 2rem;
  }
  .favCard {
    height: 215px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-rows: 1fr 1fr;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  } 
  .favTitulo {
    position:absolute;
    color:#678877;
    font-size: 24px;
    margin: 20px 0 0 20px;
  } 
  .favTexto {
    position:absolute;
    color: #000000;
    text-shadow: 0 0 5px #ffffff;
    font-weight: 400;
    font-size: 19px;
    align-self: end;
    margin: 0 0 20px 20px;
    letter-spacing: 0.5px;
  }
  .favCard:hover {
    transform: scale(1.035, 1.035);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  }
  .favCard:hover img {
    transform: translateY(-10px);
  }
  /* termina elementos de sección favoritos*/