.backg{
    background-color: white ;
    opacity:0.65;
    max-width: 90%;
    max-height: 50%;
    margin-bottom: 22%;
}

.bgImage{

    margin-bottom: 5%;
    margin-top: 5%;
}

#backEstelar{
    background-color: #EFECE8;

}

#backTestimonios{
    background-color: azure;
  
}

.hexCalida{
    color:#252524;
  
}
.hexCalida:hover{
    color:#678877;
    text-decoration:none;
}

.fa-solid{
    color:#678877;
    font-size: 17px;
}
.fa-solid:hover{
    color:#9FAB97;
    font-size: 20px;
}
